<div class="container4" style="visibility: hidden">
	
<!--<div class="left">
       <div class="left-img"></div> 
    </div>
<div class="right">
	<div class="right-container">
	<img src="/assets/img/briefcase-logo_1.png" alt="">
	<div class="svg-pseudosquare">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396.14 458.82"><defs><style>.cls-1{fill:#0d055b;}</style></defs><title>pseudosquare-page4</title><g id="Layer_2" data-name="Layer 2"><g id="page4"><g id="Layer_23" data-name="Layer 23"><polygon class="cls-1" points="127.01 458.82 0 221.8 361.71 0 396.14 458.6 127.01 458.82"/></g></g></g></svg>
	</div>	
	<div class="svg-triangle">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 629.47 361.41"><defs><style>.cls-1{fill:#0d055b;stroke:#7f839c;stroke-miterlimit:10;}</style></defs><title>triangle -page4</title><g id="Layer_2" data-name="Layer 2"><g id="page4"><g id="Layer_23" data-name="Layer 23"><polygon class="cls-1" points="105.08 360.64 52.89 229.55 0.7 98.46 314.04 49.65 627.38 0.83 366.23 180.74 105.08 360.64"/></g></g></g></svg>
	</div>
    </div>
</div>-->


  <div class="main">

    <div id="left">
      <div class="left-img"></div>
    </div>

    <div id="right">
      <div class="briefcase"><img src="/assets/img/briefcase-logo_1.png" alt="image"></div>
      <div class="figures">
        <div class="fig1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396.14 458.82"><defs><style>.cls-1{fill:#0d055b;}</style></defs><title>pseudosquare-page4</title><g id="Layer_2" data-name="Layer 2"><g id="page4"><g id="Layer_23" data-name="Layer 23"><polygon class="cls-1" points="127.01 458.82 0 221.8 361.71 0 396.14 458.6 127.01 458.82"/></g></g></g>
            <text x="120" y="360" fill="white" font-size="20">&euro; lorem ipsu-lorem ipsum</text>
            <text x="120" y="390" fill="white" font-size="20">&euro; lorem ips-dolor sit amet</text>
            <text x="120" y="420" fill="white" font-size="20">&euro; lorem ips-lorem ipsum dolo</text>            
          </svg>
        </div>
        <div class="fig2">                    
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 629.47 361.41"><defs><style>.cls-1{fill:#0d055b;stroke:#7f839c;stroke-miterlimit:10;}</style></defs><title>triangle -page4</title><g id="Layer_2" data-name="Layer 2"><g id="page4"><g id="Layer_23" data-name="Layer 23"><polygon class="cls-1" points="105.08 360.64 52.89 229.55 0.7 98.46 314.04 49.65 627.38 0.83 366.23 180.74 105.08 360.64"/></g></g></g>
            <text x="20" y="240" fill="white" transform="rotate(-23 20,40)">A brief outline of my career history</text>
          </svg>
        </div>
      </div>
      <!-- backround animation -->
      <div id="js-app"></div> 
      <!--  -->
    </div>
  </div>  
	
</div>