<div class="container3">
	<div class="clipboard" style="">
    	SKILLS
  	</div>
	<div id="list" class="list">
		<div class="line" id="line">
			<div class="inner"></div>
		</div>
		<ul>
			<li>
		      	<div class="image"><span style="color:white">Lorem ipsum</span><div class="circle"></div>
		    </li>
		    <li>
		    	<div class="image"><span style="color:white">Lorem ipsum</span><div class="circle"></div>
		    </li>
		    <li>
		    	<div class="image"><span style="color:white">Lorem ipsum</span><div class="circle"></div>
		    </li>
		    <li>
		    	<div class="image"><span style="color:white">Lorem ipsum</span><div class="circle"></div>
		    </li>
		    <li>
		      	<div class="image"><span style="color:white">Lorem ipsum</span><div class="circle"></div>
		    </li>    
		</ul>

	</div>
</div> 