<div id="loader-container">
	<div class="loader">
	  <div class="corner top-left"></div>
	  <div class="corner top-right"></div>
	  <div class="corner bottom-left"></div>
	  <div class="corner bottom-right"></div>
	</div>		
</div>
<div class="container">
	<header class="nav1 nav2">
		<h1 id="logo1"> <div class="logo-gt"> </div></h1>
		<div class="con-right-menu">
			<div class="menu-button">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
				<div id="1" class="mini">
					<img class="icon" src="./assets/img/house.png">
				</div>
				<div id="2" class="mini">
					<img class="icon" src="./assets/img/house.png">
				</div>
				<div id="3" class="mini">
					<img class="icon" src="./assets/img/house.png">
				</div>
				<div id="4" class="mini">
					<img class="icon" src="./assets/img/house.png">
				</div>
			</div>	
 		</div>
		<nav class="menu">
			<ul>	
				<li><a href="">Intro</a></li>
				<li><a href="">Me</a></li>
				<li><a href="">Skills</a></li>
				<li><a href="">Work</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav>
						<nav class="menu">
							<ul>	
								<li><a href="../../../127.0.0.1_4000/index.html">Intro</a></li>
								<li><a href="../../../127.0.0.1_4000/index.html">Me</a></li>
								<li><a href="../../../127.0.0.1_4000/index.html">Skills</a></li>
								<li><a href="../../../127.0.0.1_4000/index.html">Work</a></li>
								<li><a href="../../../127.0.0.1_4000/index.html">Contact</a></li>
							</ul>
						</nav>
	</header>

		
		
		<div class="intro">
		<!--<div class="img-welcome"></div>-->
		<div id="base">
				  <div class="over">
					<div class="lt-cube-grid">
					<div class="c1"><img src="assets/img/4.jpg" alt=""></div>
					<div class="c2"><img src="assets/img/1.jpg" alt=""></div>
					<div class="c3"><img src="assets/img/3.jpg" alt=""></div>
					<div class="c4"><img src="assets/img/2.jpg" alt=""></div>
					<div class="c5"><img src="assets/img/8.jpg" alt=""></div>
					<div class="c6"><img src="assets/img/5.jpg" alt=""></div>
					<div class="c7"><img src="assets/img/7.jpg" alt=""></div>
					<div class="c8"><img src="assets/img/6.jpg" alt=""></div>
					<div class="c9"><img src="assets/img/12.jpg" alt=""></div>
					<div class="c1"><img src="assets/img/9.jpg" alt=""></div>
					<div class="c2"><img src="assets/img/11.jpg" alt=""></div>
					<div class="c3"><img src="assets/img/10.jpg" alt=""></div>

					</div>
				  </div>
		
		</div>
				<div class="text">
				<p>Lorem ipsum do1</p>
				<p>Lorem ipsum dolor sit amet, consectetuer.</p>
				<p>Lorem ipsum.</p>
				</div>

</div>	

</div>




